<a href="https://colab.research.google.com/github/claudiasofiaC/DS-Unit-2-Applied-Modeling/blob/master/BW2_applied_modeling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency > 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

## COLUMNS

MOVIES_ACTORS: Actors, 
Imdb ID 

MOVIES_ADDITIONAL_RATING: Rating, 
Rating Source, 
Imdb ID

MOVIES_GENRES: Genre, 
Imdb ID

MOVIES_MOVIES: Awards,
Country,
DVD, 
Director, 
Language, 
Plot,
Poster, 
Production, 
Rated, 
Released, 
Runtime, 
Title, 
Website, 
Year, 
Imdb ID, 
Imdb Rating, 
Imdb votes,

MOVIES_WRITER: Person, 
Responsibility, 
Imdb ID

In [10]:
# Movie_Movies dataset is way too big for github
# so uploading from 
from google.colab import files
uploaded = files.upload()

Saving Movie_Movies.csv to Movie_Movies.csv

In [0]:
import pandas as pd
import numpy as np

In [11]:
movies = pd.read_csv('Movie_Movies.csv')
print(movies.shape)
movies.columns

(178687, 18)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Awards', 'Country', 'DVD', 'Director', 'Language', 'Plot', 'Poster',
       'Production', 'Rated', 'Released', 'Runtime', 'Title', 'Type',
       'Website', 'Year', 'imdbID', 'imdbRating', 'imdbVotes'],
      dtype='object')

In [0]:
actors = pd.read_csv('https://raw.githubusercontent.com/claudiasofiaC/build-week/master/Movie_Actors.csv?token=AMYQQCUB4V2VT6OEVOIRU6C52R23S')

In [13]:
print(actors.shape)
actors.columns

(143869, 3)

Index(['Unnamed: 0', 'Actors', 'imdbID'], dtype='object')

In [14]:
additional_rating = pd.read_csv('https://raw.githubusercontent.com/claudiasofiaC/build-week/master/Movie_AdditionalRating.csv?token=AMYQQCS2NHMBCFKMUOX2DP252R26O')
print(additional_rating.shape)
additional_rating.columns

(92016, 4)

Index(['Unnamed: 0', 'Rating', 'RatingSource', 'imdbID'], dtype='object')

In [15]:
genres = pd.read_csv('https://raw.githubusercontent.com/claudiasofiaC/build-week/master/Movie_Genres.csv?token=AMYQQCR4J7IFGJTK6HMPTB252R3BU')
print(genres.shape)
genres.columns

(308565, 3)

Index(['Unnamed: 0', 'Genre', 'imdbID'], dtype='object')

In [16]:
writers = pd.read_csv('https://raw.githubusercontent.com/claudiasofiaC/build-week/master/Movie_Writer.csv?token=AMYQQCUUKRGG45YX3PWJIU252R3EK')
print(writers.shape)
writers.columns

(66164, 4)

Index(['Unnamed: 0', 'Person', 'Responsibility', 'imdbID'], dtype='object')

In [0]:
# choose your target
# imdb rating (on a 'good' movie)

# regression or classification?
# regression


# how is your target distrbuted?


# choose your evaluation metrics



#

In [0]:
import pandas_profiling

In [0]:
pandas_profiling.ProfileReport(movies)

In [0]:
#poop. 48% missing

In [17]:
movies['imdbRating'].value_counts()

6.8    2221
6.6    2063
7.0    2053
6.4    2011
7.2    1989
       ...
1.4      21
1.3      15
1.2      14
9.9      13
1.1       8
Name: imdbRating, Length: 91, dtype: int64

In [0]:
# ehh, ok. very few 9.9's
# 6.8 is an ok score for a movie i guess, its not great.

In [0]:
# dropping columns i dont need or are full of 0's

#movies_clean = movies.drop(['awards', 'website'], axis=1)

In [0]:
pandas_profiling.ProfileReport(writers)

In [7]:
writers['Responsibility'].value_counts()

screenplay                                                       17454
story                                                            17106
novel                                                             3814
scenario                                                          1983
play                                                              1863
                                                                 ...
worlds and characters                                                1
inspired by the American Legacy article                              1
based on the ESPN Magazine article and book by                       1
based on the novel entitled "Baggage Claim" by                       1
characters from "James Lee Wong" series in Collier's Magazine        1
Name: Responsibility, Length: 2424, dtype: int64

In [0]:
pandas_profiling.ProfileReport(genres)

In [0]:
pandas_profiling.ProfileReport(actors)

In [0]:
# first the big merge
# then trim it down, i guess



# from movies_movies. take title

In [0]:
#merge
movies_actors = pd.merge(movies, actors, how='inner', on='imdbID')

movies_actors

In [0]:
actors.head(10)

In [24]:
writers.columns

Index(['Unnamed: 0', 'Person', 'Responsibility', 'imdbID'], dtype='object')

In [0]:
movies_actors_writers = pd.merge(movies_actors, writers, how='inner', on='imdbID')

movies_actors_writers

In [0]:
full_movie_info = pd.merge(movies_actors_writers, genres, how='inner', on='imdbID')

In [53]:
full_movie_info.head()

  Awards      Country  DVD  ... Responsibility Unnamed: 0     Genre
0    NaN          USA  NaN  ...          story          4     Drama
1    NaN          USA  NaN  ...          story          5   Romance
2    NaN          USA  NaN  ...       scenario         15     Short
3    NaN          USA  NaN  ...       scenario         16    Comedy
4    NaN  South Korea  NaN  ...     screenplay         17     Drama

[5 rows x 25 columns]

In [55]:
# get rid of movies without ratings
# ok, a very thorough cleaning, dropping row if imdbRating nan


full_movie_info_3 = full_movie_info.dropna(subset=['imdbRating'])


print(full_movie_info_3.shape)
full_movie_info_3

(94926, 25)

                                                   Awards  ...      Genre
5                                           1 nomination.  ...  Animation
6                                           1 nomination.  ...      Drama
7                                           1 nomination.  ...     Family
8                                           1 nomination.  ...  Animation
9                                           1 nomination.  ...      Drama
...                                                   ...  ...        ...
127342  Nominated for 5 Oscars. Another 10 wins & 75 n...  ...      Drama
127343  Nominated for 5 Oscars. Another 10 wins & 75 n...  ...   Thriller
127344  Nominated for 5 Oscars. Another 10 wins & 75 n...  ...      Crime
127345  Nominated for 5 Oscars. Another 10 wins & 75 n...  ...      Drama
127346  Nominated for 5 Oscars. Another 10 wins & 75 n...  ...   Thriller

[94926 rows x 25 columns]

In [56]:
full_movie_info_3.columns

Index(['Awards', 'Country', 'DVD', 'Director', 'Language', 'Plot', 'Poster',
       'Production', 'Rated', 'Released', 'Runtime', 'Title', 'Type',
       'Website', 'Year', 'imdbID', 'imdbRating', 'imdbVotes', 'Unnamed: 0_x',
       'Actors', 'Unnamed: 0_y', 'Person', 'Responsibility', 'Unnamed: 0',
       'Genre'],
      dtype='object')

In [0]:
# get rid of what i feel are unecessary columns

# previously dropped, website and poster

full_movie_info_3 = full_movie_info_3.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)

In [0]:
full_movie_info_3

In [65]:
# sort by ratings
# ouch, lowest rating is 1.0



sorted_movies = full_movie_info_3.sort_values(by=['imdbRating'])

sorted_movies

      Awards Country  ... Unnamed: 0        Genre
46911    NaN     USA  ...     133127    Adventure
75559    NaN   Japan  ...     214871  Documentary
75560    NaN   Japan  ...     214871  Documentary
46909    NaN     USA  ...     133128      Romance
46910    NaN     USA  ...     133126       Action
...      ...     ...  ...        ...          ...
90489    NaN  Greece  ...     257859        Short
90488    NaN  Greece  ...     257861    Talk-Show
90487    NaN  Greece  ...     257860       Comedy
90494    NaN  Greece  ...     257861    Talk-Show
90498    NaN  Greece  ...     257859        Short

[94926 rows x 21 columns]

In [66]:
sorted_movies.isnull().sum()

Awards            53054
Country             102
DVD               47164
Director            556
Language           1127
Plot               9089
Production        42882
Rated             36719
Released           5865
Runtime            3769
Title                 0
Type                  0
Year                  0
imdbID                0
imdbRating            0
imdbVotes             0
Actors                0
Person                0
Responsibility        0
Unnamed: 0            0
Genre                 0
dtype: int64

In [0]:
# the nulls are weird in this data
# not entirely detremental to the info
# some of the movies are in multiple rows since some movies cross multiple genres

#